<link rel="stylesheet" href="/css/navbar.css" />

<nav class="nav-top">
  <div class="container">
    
    <div class="logo m-2">
      <a href="/"><img class="logo-img" src="/pic/logo.png" alt="" /></a>
    </div>
    <div>
      <% if(currentUser){ %> 
      <div><span>Hi, <%= currentUser.username %> </span></div>
      <% } %> 
      <% if(!currentUser){ %>
        <a class="nav-link" href="/login"><img class="login" src="/pic/account.png" alt="" /></a> 
         <a href="/signup"><img class="signup" src="/pic/add-user.png" alt=""/></a>
     <% } %> 
      
      <% if(currentUser){ %> 
      <a href="/logout"
        ><img class="logout" src="/pic/logout.png" alt=""
      /></a>
      <% } %> 
      <a
        class="btn"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        ><img class="shopping-bag" src="/pic/shopping-cart.png" alt=""
      /></a>
      
    </div>
    <div class="d-none d-lg-block d-xl-block">
      <ul class="row">
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/products/new">New</a>
          </li>
        </div>

        <% for (let c of category){%>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" href="/category/<%= c._id %>"
              ><%= c.otherCategory[1].toUpperCase() + c.otherCategory.slice(2)
              %></a
            >
          </li>
        </div>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Shopping Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <% if(currentUser) { %> 
             
                <% for(let i of user.shoppingCart){%>
                <div class="shopping-cart-display mb-3">
                 <img class="card-img" src="<%= i.images %>" class="img-fluid rounded-start" alt="...">
                 <h5 class="shoppingCart-card-title"><%= i.products %></h5><br>
                  <div class="shoppingCart-card-text"><%= i.price %></div>
                  
                    <div class="shoppingCart-card-text"><small class="text-muted"><%= i.size.slice(1) %>  <%= i.color.toUpperCase().slice(1,2) + i.color.slice(2) %></small></div>
             <form class="delete-form" action="/user/<%= currentUser.id %>/shoppingcart/<%= i._id %>?_method=DELETE" method="post">
                    <input class="btn btn-outline-danger float-end" type="submit" value="D">
                    </form>
              </div>
              
               <%} %> 
                 <h5>Total</h5>
          
            <% } %> 
          
          </li>     
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
