<% layout('/layout/boilerplate') -%>
<script> 
  const newProduct  = <%- JSON.stringify(products) %>
  </script>
  <script defer src="/javascript/shoppingcart.js"></script>
<div class="container">
  <div class="row">
    <% for(let product of products) {%>
    <div class="mb-3 col ms-5 ms-md-0">
      <div class="card" style="width: 14rem">
        <% if(currentUser){%>
            <form class="form"
                action="/user/<%= currentUser._id %>/shoppingcart/<%= product._id %>"
                method="post"
              >
         <% } %> 
         <div style="min-height: 218px;">
          <a href="/products/<%= product._id %>">
           <img src="<%= product.images[0].url %>" class="card-img-top" alt=""  />
           </a>
        <div class="hidden show-detail text-center">
          <div class="mb-2">
           <a class="seeDetail" href="/products/<%= product._id %>">See more detail</a>

          </div>
           <div class="row">
           <div class="col-6">
              <select class="form-select form-select-sm mb-1" name="size" id="">
                <% for(let s of product.size){%>
                <option value="<%= s %>">
                  <%= String(s).toUpperCase().slice(1) %>
                </option>
                <%} %>
              </select>
            </div>
            <div class="col-6">
              <select class="mb-1 form-select form-select-sm" name="color" id="">
                <% for(let c of product.color){%>
                <option value="<%= c %>">
                  <%= c.slice(1,2).toUpperCase() + c.slice(2) %>
                </option>
                <%} %>
              </select>
            </div>
            </div>
        </div>
         </div>
        
        <div class="card-body">
    <div class="mb-3">
          <h6 class="card-title d-inline" ><%= product.products %></h6><span class="price"><%= product.price %> €</span>      
    </div>

          
          <div class="row">
           
            <div class="col-8">
              <input value="1" min="0" type="number" name="qty" class="form-control form-control-sm" id="" required>
            </div>
            <div class="col-4 mb-2">
              <input value="Add" type="submit" class="float-end card-link btn btn-sm btn-outline-primary"
                >
            </div>
            </form>
            <% if(currentUser && admin){ %> 
            <form
              action="/products/<%= product._id %>?_method=DELETE"
              method="post"
              class="col-6"
            >
              <button class="btn btn-outline-danger btn-sm" type="submit">
                Delete
              </button>
            </form>
            <a
              href="/products/<%= product._id %>/edit"
              class="btn btn-outline-secondary btn-sm col-6"
              >Edit</a
            >
            <% } %> 
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
